
choice
	prompt "Architecture select"
	default ARCH_AARCH64

config ARCH_AARCH64
	bool "AARCH64"

config ARCH_RISCV64
	bool "RISCV64"

config ARCH_RISCV32
	bool "RISCV32"
endchoice


source "arch/aarch64/Kconfig"
source "arch/riscv64/Kconfig"
source "arch/riscv32/Kconfig"